ficha {
  background-color: #fdd;
  margin: 5px;
  padding: 5px;
  border: 1px solid red;
}
nombre {
  color: navy;
}
apellido {
  color: darkred;
}
telefono,
email,
website {
  display: block;
  font-size: 12px;
}
ficha::after {
  content: attr(dui) " " attr(isss) " " attr(afp);
  display: block;
  color: gray;
}

